### Data Import

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
True_news = pd.read_csv('True.csv')
Fake_news = pd.read_csv('Fake.csv')

In [4]:
True_news['label'] = 0

In [5]:
Fake_news['label'] = 1

In [6]:
True_news.head()

,title,text,subject,date,label
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017",0
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017",0
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017",0
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017",0
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017",0

In [7]:
Fake_news.head()

,title,text,subject,date,label
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",1
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",1
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",1
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",1
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",1

In [8]:
dataset1 = True_news[['text','label']]
dataset2 = Fake_news[['text','label']]

In [9]:
dataset = pd.concat([dataset1 , dataset2])

In [10]:
dataset.shape

(44898, 2)

### Null values

In [11]:
dataset.isnull().sum() # no null values

text     0
label    0
dtype: int64

### Balanced or Unbalanced dataset

In [12]:
dataset['label'].value_counts()

1    23481
0    21417
Name: label, dtype: int64

In [13]:
dataset1.shape # true news

(21417, 2)

In [14]:
dataset2.shape # fake news

(23481, 2)

### Shuffle or Resample

In [15]:
dataset = dataset.sample(frac = 1)

In [16]:
dataset.head(20)

                                                    text  label
1443   WASHINGTON (Reuters) - President Donald Trump ...      0
6966   Donald Trump is currently leading in the polls...      1
1794   A few years ago, very few people even knew wha...      1
19780  Don t believe the polls. They are created in s...      1
3309   Donald Trump is desperately trying to find A-l...      1
12042  KABUL (Reuters) - A group of armed men seized ...      0
8463   (Reuters) - Senator Ben Sasse was in a fairly ...      0
19061  BRASILIA (Reuters) - The speaker of Brazil s l...      0
16293  BARCELONA (Reuters) - Catalonia s regional par...      0
21273  This letter is quite possibly the most importa...      1
12991  JERUSALEM (Reuters) - Palestinians seethed wit...      0
23395  Microsoft Pulls Robot After Posted Tweets Like...      1
4716   Jason Kauti, an avid supporter of Donald Trump...      1
12874  NAIROBI (Reuters) - Swearing in an alternative...      0
16139  LONDON (Reuters) - Talks on restoring a power-...      0
7864   WASHINGTON (Reuters) - The U.S. Supreme Court ...      0
10013  WASHINGTON (Reuters) - Security researchers an...      0
8121   Ted Cruz is one of the most extreme individual...      1
15708  Two high profile black people giving commencem...      1
6871   WASHINGTON/NEW YORK (Reuters) - U.S. President...      0

In [18]:
import nltk

In [19]:
import re
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer

In [20]:
ps = WordNetLemmatizer()

In [24]:
stopwords = stopwords.words('english')

In [22]:
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\SACHIN\AppData\Roaming\nltk_data...

True

In [23]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\SACHIN\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.

True

In [25]:
def cleaning_data(row):
    
    # convert text to into lower case
    row = row.lower() 
    
    # this line of code only take words from text and remove number and special character using RegX
    row = re.sub('[^a-zA-Z]' , ' ' , row)
    
    # split the data and make token.
    token = row.split() 
    
    # lemmatize the word and remove stop words like a, an , the , is ,are ...
    news = [ps.lemmatize(word) for word in token if not word in stopwords]  
    
    # finaly join all the token with space
    cleanned_news = ' '.join(news) 
    
    # return cleanned data
    return cleanned_news

In [26]:
dataset['text'] = dataset['text'].apply(lambda x : cleaning_data(x))

In [27]:
dataset.isnull().sum()

text     0
label    0
dtype: int64

In [43]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [44]:
vectorizer = TfidfVectorizer(max_features = 50000 , lowercase=False , ngram_range=(1,2))

In [45]:
dataset.shape

(44898, 2)

In [46]:
X = dataset.iloc[:35000,0]
y = dataset.iloc[:35000,1]

In [47]:
X.head()

1443     washington reuters president donald trump disc...
6966     donald trump currently leading poll new york s...
1794     year ago people even knew breitbart com fringe...
19780    believe poll created way many hillary operativ...
3309     donald trump desperately trying find list ente...
Name: text, dtype: object

In [48]:
y.head()

1443     0
6966     1
1794     1
19780    1
3309     1
Name: label, dtype: int64

In [49]:
from sklearn.model_selection import train_test_split
train_data , test_data , train_label , test_label = train_test_split(X , y , test_size = 0.2 ,random_state = 0)

In [50]:
vec_train_data = vectorizer.fit_transform(train_data)

In [51]:
vec_train_data = vec_train_data.toarray()

In [52]:
train_data.shape , test_data.shape

((28000,), (7000,))

In [53]:
vec_test_data = vectorizer.transform(test_data).toarray()

In [54]:
vec_train_data.shape , vec_test_data.shape

((28000, 50000), (7000, 50000))

In [55]:
train_label.value_counts() # balanced partition

1    14591
0    13409
Name: label, dtype: int64

In [56]:
test_label.value_counts() # balanced partition

1    3662
0    3338
Name: label, dtype: int64

In [58]:
training_data = pd.DataFrame(vec_train_data , columns=vectorizer.get_feature_names_out())
testing_data = pd.DataFrame(vec_test_data , columns= vectorizer.get_feature_names_out())

In [59]:
from sklearn.naive_bayes import MultinomialNB

In [60]:
from sklearn.metrics import accuracy_score,classification_report

In [61]:
clf = MultinomialNB()

In [62]:
clf.fit(training_data, train_label)
y_pred  = clf.predict(testing_data)

### MultinomialNB

In [63]:
pd.Series(y_pred).value_counts()

1    3708
0    3292
dtype: int64

In [64]:
test_label.value_counts()

1    3662
0    3338
Name: label, dtype: int64

In [65]:
print(classification_report(test_label , y_pred))

              precision    recall  f1-score   support

           0       0.96      0.94      0.95      3338
           1       0.95      0.96      0.95      3662

    accuracy                           0.95      7000
   macro avg       0.95      0.95      0.95      7000
weighted avg       0.95      0.95      0.95      7000

Now predict on both train set

In [66]:
y_pred_train = clf.predict(training_data)
print(classification_report(train_label , y_pred_train))

              precision    recall  f1-score   support

           0       0.96      0.96      0.96     13409
           1       0.96      0.96      0.96     14591

    accuracy                           0.96     28000
   macro avg       0.96      0.96      0.96     28000
weighted avg       0.96      0.96      0.96     28000

In [67]:
accuracy_score(train_label , y_pred_train)

0.9591428571428572

In [68]:
accuracy_score(test_label , y_pred)

0.9511428571428572

In [69]:
news = cleaning_data(str("Imposters posing as army personnel on the social media have been called out by the Indian Army as false news and disinformation."))

In [70]:
single_prediction = clf.predict(vectorizer.transform([news]).toarray())
single_prediction

C:\Users\SACHIN\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:409: UserWarning: X does not have valid feature names, but MultinomialNB was fitted with feature names
  warnings.warn(

array([0], dtype=int64)

In [78]:
single_prediction[0]

0

### Save the Model

In [71]:
import joblib

In [72]:
joblib.dump(clf , 'model.pkl')

['model.pkl']

In [73]:
model = joblib.load('model.pkl')